/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #0f0f0f;
    background: linear-gradient(145deg, #0f0f0f 0%, #1f1f1f 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e0e0e0;
}

/* container */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* header */
header {
    text-align: center;
    padding: 1rem 0;
}

.title {
    font-size: 2.8rem;
    font-weight: 700;
    padding-bottom: 4px;

    /* text-effect */
    background: linear-gradient(90deg, #00ff9d, #00d4ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitle {
    font-size: 1rem;
    opacity: 0.6;
}

/* footer */
footer {
    border-top: 1px solid #222;
    padding: 1rem 0;
    text-align: center;
    font-size: 0.9rem;
    opacity: 0.6;
    transition: opacity 0.3s;
}

footer:hover {
    opacity: 0.9;
}

.heart {
    color: #ff006a;
}

.link {
    color: #00ff9d;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s;
}

.link:hover {
    color: #00d4ff;
    /* text-shadow: 0 0 8px rgba(0, 212, 255, 0.4); */
}